<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>group chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style  type = "text/css">
    input {
    margin-top: 4px;
    text-align: center;
    }
    </style>
</head>
<body>

<div  style="height: 100vh" class="d-flex justify-content-center align-items-center">
  <form method= "post" action="{% url 'roomview' %}">
  {% csrf_token %}
  <input placeholder = "enter room no" class = "form-control" type= "text" name="room_no"> 

  <input   placeholder = "enter room" class = "form-control" type= "text" name="room"> 
  <input class = "btn btn-primary" type= "submit" name="">  
  </form>


</div>



    
</body>
</html>